/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(244, 237, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo1.jpg");
   

}
.titulo{
font-size: 60px;
color: rgb(255, 255, 255);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1{
    height: 193px;
    width: 300px;
    background-image: url("circuito\ electrico.png");
    background-repeat: no-repeat;
    float: right;
}
.img2{
    height: 270px;
    width: 270px;
    background-image: url("bulimia.jpeg");
    background-repeat: no-repeat;
    float: left;
}
.img3{
    height: 870px;
    width: 870px;
    background-image: url("anorexia.jpeg");
    background-repeat: no-repeat;
    float: right;
}
.img4{
    height: 700px;
    width: 1300px;
    background-image: url("mapa\ conceptual\ 2p.jpeg");
    background-repeat: no-repeat;
    float: right;
}
.img5{
    height: 700px;
    width: 1300px;
    background-image: url("emma.jpeg");
    background-repeat: no-repeat;
    float: right;
}
.img6{
    height: 700px;
    width: 1300px;
    background-image: url("jeico.jpeg");
    background-repeat: no-repeat;
    float: right;
}

.img7{
    height: 700px;
    width: 1300px;
    background-image: url("val.jpeg");
    background-repeat: no-repeat;
    float: right;
}

.img8{
    height: 700px;
    width: 1300px;
    background-image: url("inicio.jpeg");
    background-repeat: no-repeat;
    float: right;
}

.img9{
    height: 700px;
    width: 1300px;
    background-image: url("excel.jpg");
    background-repeat: no-repeat;
    float: right;
}

.img10{
    height: 700px;
    width: 1300px;
    background-image: url("1.jpeg");
    background-repeat: no-repeat;
    float: right;
}

.img11{
    height: 700px;
    width: 1300px;
    background-image: url("2.jpeg");
    background-repeat: no-repeat;
    float: right;
}

.img12{
    height: 700px;
    width: 1300px;
    background-image: url("3.jpeg");
    background-repeat: no-repeat;
    float: right;
}

.img13{
    height: 700px;
    width: 1300px;
    background-image: url("4.jpeg");
    background-repeat: no-repeat;
    float: right;
}

.img14{
    height: 700px;
    width: 1300px;
    background-image: url("5.jpeg");
    background-repeat: no-repeat;
    float: right;
}

.img16{
    height: 700px;
    width: 1300px;
    background-image: url("6.jpeg");
    background-repeat: no-repeat;
    float: right;
}

.img15{
    height: 1200px;
    width: 1500px;
    background-image: url("mapa\ 3\ periodo.png");
    background-repeat: no-repeat;
    float: right;
}

